@model JooleUI.Models.UserLogin
@{Layout = "../Shared/_index.cshtml";}

@{
    ViewBag.Title = "Joole";
}

@using (Html.BeginForm("Login", "User", FormMethod.Post))
{
    @Html.AntiForgeryToken()


    <div class="form-group row justify-content-center">
        <label for="signInUsername" class="col-md-3 col-form-label">Username: </label>
        <div class="col-md-9">
            <input type="text" class="form-control" id="signInUsername" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-9 offset-md-3">
            @Html.ValidationMessageFor(model => model.Login_Name, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group row">
        <label for="signInPassword" class="col-md-3 col-form-label">Password: </label>
        <div class="col-md-9">
            <input type="text" class="form-control" id="signInPassword" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-9 offset-md-3">
            @Html.ValidationMessageFor(model => model.User_Password, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group form-check row">
        <label class="form-check-label col-md-9  offset-md-3" for="signInCheckbox">
            <input type="checkbox" class="form-check-input" id="signInCheckbox">Remember me
        </label>
    </div>
    <div class="form-group row">
        <div class="offset-md-3 col-md-9">
            <button type="submit" class="btn btn-primary ">Sign In</button>
        </div>
    </div>
    <div class="form-group row">
        <span class="offset-md-3 col-md-9">New to our website? @Html.ActionLink("Join Us", "Register", "User")</span>
    </div>
}




