
@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



    <div style="margin-top:10%">

        @using (@Html.BeginForm())
        {
            <img style="width:30%" src="~/Content/images/logo.png" />
            <h3 style="font-family: 'Lobster', cursive;">Building Product Selection Platform</h3>
            @Html.DropDownList("Category", null, "Select", new { @class = "btn btn-secondary dropdown-toggle" });
            <select id="subCateSelector" style="width:250px;" class="btn btn-secondary dropdown-toggle" name="term">
                <option default>Select Subcategory</option>
            </select>
            @*<input type="search" id="searchBox" style="width:250px" name="term" />*@
            <input type="submit" value="Search" class="btn btn-primary" />
        }

        @section scripts{
            <script>

            $("#Category").on("change", () => {
                $.ajax({
                    data: {
                        'term': '',
                        'Category': $("#Category").val()
                    },
                    url: '@Url.Action("GetSubcategory","Search")',
                    dataType: "json",
                    contentType: "application/json;charset=utf-8",
                    success: function (data) {
                        var parsed = JSON.parse(data);
                        var htm = '';
                        for (var i = 0; i < parsed.length; i++) {
                            htm += '<option value="' + parsed[i] + '">' + parsed[i] + '</option>';
                        }
                        $('#subCateSelector').empty();
                        $('#subCateSelector').append(htm);
                    },
                    error: () => { console.log("error") }
                });
            });
            </script>
        }
    </div>

@{

}
