@{
    ViewBag.Title = "Filter";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div>

  <div class="col-sm-2 mt-3 ml-4 border" >
   
    <div class="row border p-2">
               
    <div >
            <label>Search:</label>
            <button class="btn btn-primary ml-4" >Save</button>
            <button class="btn btn-primary ml-4">Clear</button>
    
    </div>
    </div>

      <div class="row p-2 border">
            <div class="col-sm-6 ">
                 <a href="#" >Product</a>
            </div>
              
             <div class="col-sm-6 ">
                 <a href="#">Project</a>
            </div>
          </div>

       <div class="row p-2 border">
          <div class="text-center">
             Product Type
           </div>
      </div>


 

      <div class="row p-2 border">
          <div>
              <b>Model Year:</b>
                <input type="text" name="beginningYear" class="ml-2 mr-2" maxlength="4" size="4">  -
                <input type="text" class="ml-3" name="endingYear" maxlength="4" size="4">
          </div>
         
      </div>

           <div class="row p-2 border">
          <div class="text-center">
              Technical Specifications
           </div>
      </div>


   
  <div class="row">
            <div class=" ml-3 mt-3 mb-5">
             <label for="airflow-amount" class="pb-3">Airflow (CFM) </label><br>
            <input class="range-slider1" type="hidden" value="0,100"/>
    </div>
  
  </div>
 
  <div class="row">
        <div class="ml-3 mb-5">
             <label for="power-amount"  class="pb-3">Max Power (W) </label><br />
             <input class="range-slider" type="hidden" value="0,120"/>
        </div>
  </div>

   <div class="row">
        <div class=" ml-3  mb-5">
             <label for="sound-amount"  class="pb-3">Sound at max speed (dBA)</label><br />
      <input class="range-slider" type="hidden" value="0,120"/>
        </div>
    </div>

    <div class="row">
       <div class=" ml-3 mb-5">
            <label for="sweep-amount"  class="pb-3">Fan sweep diameter (in) </label><br />
            <input class="range-slider" type="hidden" value="0,120"/>
        </div>
    </div>
      
</div>
</div>






@section script{
<script>
    $(function () {
        $('.range-slider1').jRange({
            from: 0,
            to: 100,
            step: 1,
            scale: [0, 25, 50, 75, 100],
            format: '%s',
            theme: 'theme-blue',
            width: 200,
            showLabels: true,
            isRange: true
        });
    });


    $(function () {
        $('.range-slider').jRange({
            from: 0,
            to: 120,
            step: 1,
            scale: [0, 30, 60, 90, 120],
            format: '%s',
            theme: 'theme-blue',
            width: 200,
            showLabels: true,
            isRange: true
        });
    });
</script>

}

    
