body {
}

#cover {
    background: #222 url('images/userBackgroudImage.jpg') center center no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    position: relative;
    margin-left: 0;
}

#cover-caption {
    width: 100vw;
    position: relative;
    z-index: 1;
}
/* only used for background overlay not needed for centering */
#formContainer:before {
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    background-color: rgba(0,0,0,0.3);
    z-index: -1;
    border-radius: 10px;
}

#formContainer {
    padding: 3% 5%;
}

#signinBoxTitle {
    border-bottom: solid 2px white;
    margin-bottom: 3%;
}
